.create-alarm {
    .header {
        padding: 0 24px;
        margin-top: 16px;
        display: flex;
        align-items: center;
        .next-icon::before {
            cursor: pointer;
            width: 32px;
            font-size: 32px;
        }
        .sc-fodVek {
            margin: 0;
            padding-left: 16px;
        }
    }

    h2 {
        font-size: 14px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #333333;
        line-height: 22px;
        margin: 16px 0;
        display: flex;
        align-items: center;
        &::before {
            content: "";
            display: inline-block;
            width: 1px;
            height: 14px;
            border: 1px solid #0064c8;
            margin-right: 5px;
        }
    }

    .next-row {
        box-shadow: 0px 1px 0px 0px #e3e4e6;
        align-items: center;
        &.table-header {
            background: #fbfcfd;
            font-size: 12px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #333333;
            line-height: 18px;
        }
        .next-col {
            padding: 10px;
            display: flex;
            vertical-align: baseline;
            .next-input {
                min-width: auto;
            }
        }
        .ne-required {
            &::before {
                top: 20px;
            }
        }
        input {
            padding: 0 10px !important;
        }
        .next-select-values {
            padding: 0 10px !important;
            input {
                padding: 0 !important;
            }
        }
        .next-btn {
            min-width: auto !important;
            height: 24px;
            padding: 0 5px;
        }
        .info {
            display: inline-block;
            background: #ebebeb;
            color: #c1c1c1;
            height: 32px;
            padding: 0 8px;
            line-height: 32px;
        }
    }
    .users {
        display: flex;
        align-items: center;
    }
    .transfer {
        margin-top: 16px;
        width: 1056px;
        .transfer-header {
            display: flex;
            justify-content: space-between;
        }
        .transfer-title {
            padding: 8px;
            border: 1px solid #ddd;
            border-bottom: none;
            width: 500px;
            box-sizing: border-box;
        }
        .next-transfer {
            .next-transfer-operations {
                button {
                    color: #0064c8;
                    background: transparent !important;
                    .next-icon::before{
                        font-size: 24px;
                        transform: translateX(-6px);
                    }
                }
                button:disabled{
                    color: #ddd;
                }
                button:nth-of-type(2) {
                    position: relative;
                    top: -50px;
                    z-index: 99;
                    left: 60px;
                    opacity: 0;
                }
            }

            .next-transfer-panel {
                width: 500px;
                .next-menu {
                    width: 495px;
                }
                &:nth-of-type(1) {
                    .label {
                        display: none;
                    }
                }
                &:nth-of-type(3) {
                    label {
                        display: none;
                    }
                }
            
                .next-transfer-panel-header {
                    transform: translateY(50px);
                    background-color: #fbfcfd;
                    padding: 16px 30px 16px 45px;
                    span {
                        width: 90px;
                        display: inline-block;
                        font-size: 12px;
                        font-family: PingFangSC-Medium, PingFang SC;
                        font-weight: 500;
                        color: #333333;
                        line-height: 18px;
                        &:nth-of-type(3) {
                            width: 150px;
                        }
                    }
                }
                .next-search {
                    transform: translateY(-50px);
                }
                .item-content {
                    display: inline-block;
                    font-size: 12px;
                    font-family: PingFangSC-Regular, PingFang SC;
                    font-weight: 400;
                    color: #333333;
                    line-height: 18px;
                    width: 90px;
                    &:nth-of-type(3) {
                        width: 150px;
                    }
                }
            }
        }
    }
}
.next-table {
    .level {
        width: 40px;
        height: 22px;
        text-align: center;
        line-height: 20px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        border-radius: 2px;
        display: inline-block;
        &.critical {
            background: #fff1f0;
            color: #ff4d4f;
            border: 1px solid #ffa39e;
        }
        &.warning {
            background: #ffecc7;
            color: #faa700;
            border: 1px solid #ffdb94;
        }
        &.info {
            background: #c7ecff;
            color: #00a7fa;
            border: 1px solid #94dbff;
        }
    }
}
