/* 主版本 */
.login {
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent url('../../assets/images/login_bg.svg') no-repeat center center;
    background-size: cover;
}

.header{
    padding: 24px;
    .logo{
        vertical-align: top;
        width: 146px;
        height: 32px;
        margin-right: 24px;
    }
    .info{
        font-size: 24px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 33px;
    }
}

.slogan{
    position: absolute;
    top: 77%;
    left: 5%;
    width: 50%;
    text-align: center;
    font-size: 24px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #D8D8D8;
    line-height: 33px;
    background: linear-gradient(180deg, #35F5FD 0%, rgba(35, 73, 224, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-form {
    position: absolute;
    left: 70%;
    top: 50%;
    width: 420px;
    padding: 20px 30px 55px;
    box-sizing: border-box;
    border-radius: $border-radius-lg;
    background: $white;
    transform: translate(-50%, -50%);
	overflow: hidden;
}

.form{
    width: 306px;
    margin: 0 auto;
}

.account{
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: 10px;
    background: url('../../assets/images/account.svg') no-repeat center center;
}
.password{
    display: inline-block;
    width: 14px;
    height: 17px;
    margin-left: 10px;
    background: url('../../assets/images/password.svg') no-repeat center center;
}

.login-header {
    height: 70px;
    padding-bottom: 16px;
	text-align: center;
    line-height: 70px;
    font-size: 24px;
    font-weight: 500;
    // background: url('../../assets/images/login_logo.png') no-repeat center center;
}

.login-input-item {
	width: 85%;
	margin: 0 auto;
    padding: 10px;
    // border-bottom: 1px solid #e9e9e9;
}

.label{
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 18px;
}

.login-input {
    width: 280px;
    height: 32px;
    background: #FFFFFF;
    border-radius: 2px;
    border: 1px solid #C0C6CC;
    text-indent: 26px;
    font-size: $font-h2;
    color: #54565E;
}

.login-message {
    line-height: 120%;
    color: #f26d6d;
    font-size: $font-h2;
}

.login-submit {
	width: 85%;
	margin: 0 auto;
    margin-top: 24px;
}

.login-button {
    display: inline-block;
    width: 48%;
    height: 40px;
    line-height: 40px;
    border-radius: $border-radius-lg;
    text-align: center;
    font-size: $font-h1;
    color: $white;
    border: 1px solid #0070cc;
    background-color: #0070cc;
    outline: none;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.login-button:hover {
    background-color: rgba(0, 100, 200, 0.8);
}

.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.copy{
    bottom: 5%;
    left: 0;
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 22px;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
