.site-collapse-custom-collapse .site-collapse-custom-panel {
  overflow: hidden;
  background: $black-10;
  border-radius: 2px;
}
.active-active-box {
	.ant-collapse {
		border: none !important;
		border-top: 1px solid #d7d7d7 !important;
	}
	.ant-collapse-content {
		border-top: none !important;
		.ant-collapse-content-box {
			padding-left: 40px !important;
			padding-top: 0px !important;
		}
	}
}
