.header-tips{
	width: 100%;
	padding: 16px;
	background: #F8F8F9;
	border-radius: $border-radius;
	font-size: $font-size-base;
	font-weight: 500;
	color: $text-color-title;
	line-height: 20px;
	margin-bottom: 16px;
}
.ingress-balloon-content{
	display: flex;
	align-items: center;
	.ingress-balloon-list-content{
		margin-right: 12px;
	}
}
.tips-more{
	width: 38px;
	@include lineHeight(22px);
	text-align: center;
	background-color: #F7F9FA;
	cursor: pointer;
}
.balloon-tips{
	line-height: 18px;
}
