.database-mag-main,
.account-mag-main,
.sql-audit-main {
	padding: $padding-sm 24px;
	.account-mag-action-content {
		margin-bottom: $margin;
	}
	.account-mag-filter-content,
	.sql-audit-filter-content {
		margin-top: $margin;
		display: flex;
		justify-content: space-between;
	}
	.account-mag-pagination-content,
	.account-mag-table-content,
	.sql-audit-pagination-content,
	.sql-audit-table-content{
		margin-top: $margin;
	}
}
.sql-console-sider {
	background-color: #F5F5F5 !important;
	.ant-layout-sider-trigger {
		border-top: 1px solid $black-6;
		background-color: #F5F5F5 !important;
	}
	.sql-console-sider-title-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: $padding-lg;
		font-size: $font-2;
		font-weight: $font-weight-lg;
		height: 50px;
		border-bottom: 1px solid $black-6;
	}
	.sql-console-sider-search {
		padding: $padding-lg;
		.ant-tree {
			background: transparent !important;
		}
	}
}
.sql-console-content {
	.sql-console-tabs-content {
		padding: 0px 24px;
		height: 100%;
		.ant-tabs-content {
			height: 100%;
			.ant-tabs-tabpane-active {
				height: 100%;
			}
		}
	}
}
.code-console-main {
	height: 100%;
	.code-console-action-content {
		width: 100%;
		height: 34px;
		background:#222222;
		margin-top: 16px;
		border-radius: 4px 4px 0 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: $padding-sm 22px $padding-sm;
	}
	#code-console-content {
		height: 100%;
		.CodeMirror{
			height: 100% !important;
			overflow-y: auto !important;
			.CodeMirror-gutter-wrapper {
				left: -24px !important;
			}
		}
	}
}
