.license-wrapper {
	width: 100%;
	padding: 25px 29px;
	background-color: $white;
	img:first-child {
		width: 90px;
		height: 90px;
		margin-right: $margin;
	}
	.license-intro {
		width: calc(100% - 102px);
		flex-direction: column;
		justify-content: space-between;
		h2 {
			font-size: $font-h2;
			font-weight: 500;
			color: #111;
		}
	}
}

.middleware-list {
	width: 100%;
	height: calc(100% - 140px);
	// margin: 0 -10px;
	padding: 2 * $padding;
	background-color: #FAFAFA;
	flex-wrap: wrap;
}

.middleware-card {
	width: 280px;
	height: fit-content;
	margin: 0 12px 12px 0;
	padding: 16px 0 0 0;
	background: $white;
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.09);
	border-radius: $border-radius;
	.type {
		padding: 0 16px;
		.gray-box {
			padding: 0 8px;
			background: #F0F5F8;
			border-radius: $border-radius-lg;
			line-height: 22px;
		}
	}
	.info {
		width: 100%;
		padding: 16px 32px;
		flex-direction: column;
		align-items: center;
		border-bottom: 1px solid #DEDEDE;
		img {
			// width: 60px;
			height: 60px;
		}
		h1 {
			font-size: 24px;
			line-height: 20px;
			color: #000;
			margin: 12px 0 16px 0;
		}
		p {
			height: 40px;
			line-height: 20px;
			color: #666666;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-bottom: 10px;
		}
	}
	.quota {
		padding: 24px;
		.process {
			margin: 8px 0;
		}
	}
}
