.menu-list .next-menu {
	height: 100%;
}
#mid-menu{
	margin-left: -5px !important;
	.next-menu-group-label{
		position: relative;
		&:after{
			content:'';
			position:absolute;
			top: 40px;
			left: 5px;
			display: block;
			width: 97%;
			height: 0;
			border-bottom:solid 1px $border-color ;
		}
	}
}
