// -------- Colors -----------
$primary-color: #0070cc;
$info-color: #6098FF;
$success-color: #68B642;
$error-color: #Ef595C;
$warning-color: #FFAA3A;
$link-color: #0070cc;

// 色彩
$black: #000;
$white: #fff;
$tips: #C1C6D0; // placeholder

$disable-color: #F5F6F8;
$disable-color-button: #BADBFD;

$body-background: #F5F8FA; // 主背景色
$secondary-background: #F9FBFD; // 分割面
$collapse-color: #EDF2F7; // 折叠面/表界线/次级分割线
$divider-color: #E3E9EF; // 一级分割线/表单输入框/表单提示
$selected-color: #FAFCFD; // 选中

// 字体
$text-color: #434c55;
$text-color-title: #333333;
$text-color-secondary: #848EA1;

$font-size-base: 12px;
$font-h2: 14px;
$font-h1: 16px;
$lineHight-base: 17px;
$lineHight-h2: 20px;
$lineHight-h1: 22px;

$font-weight: 500;

// vertical paddings
$padding-lg: 20px;
$padding: 12px;
$padding-sm: 8px;

// vertical margins
$margin-lg: 20px;
$margin: 12px;
$margin-sm: 8px;


// height rules
$height-base: 32px;
$height-lg: 40px;
$height-sm: 24px;

// border圆角
$border-radius: 2px;
$border-radius-lg: 4px;

// border颜色
$border-color: #E3E4E6;

