// -------- Colors -----------
$primary-color: #0070cc;
$success-color: #68B642;
$error-color: #Ef595C;
$warning-color: #FFAA3A;
$link-color: #0070cc;

// 色彩
$black: #000000;
$white: #ffffff;


$body-background: #F5F8FA; // 主背景色
$secondary-background: #F9FBFD; // 分割面
$collapse-color: #EDF2F7; // 折叠面/表界线/次级分割线
$divider-color: #E3E9EF; // 一级分割线/表单输入框/表单提示
$selected-color: #FAFCFD; // 选中

// * 字体
$text-color-title: #333333;

$font-size: 12px;
$font-h2: 14px;
$font-h1: 16px;

$font-weight-sm: 400;
$font-weight: 500;
$font-weight-lg: 600;
$font-weight-xl: 700;

$line-height-sm: 10px;
$line-height: 12px;
$line-height-lg: 16px;
$line-height-xl: 18px;
$line-height-xxl: 20px;

// vertical paddings
$padding-sm: 8px;
$padding: 12px;

// vertical margins
$margin-sm: 8px;
$margin: 12px;


// * border圆角
$border-radius: 2px;
$border-radius-lg: 4px;
$border-radius-xl: 6px;
$border-radius-xxl: 12px;


// border颜色
$border-color: #E3E4E6;

