.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanlizhongxin:before {
  content: "\e670";
}

.icon-gongzuotai:before {
  content: "\e68c";
  width: 12px;
  font-weight: inherit;
}

.icon-pingtaiyunwei:before {
  content: "\e636";
}
.icon-namespace:before{
	content: "\e638";
}
.icon-jiqun:before{
	content: "\e637";
}
.icon-shili:before{
	content: "\e639";
}
