.cpu-content {
	display: flex;
	position: relative;
	.cpu-content-line {
		width: 48px;
		height: 16px;
		margin-right: 12px;
		background-color: #f4f6fb;
	}
	img {
		position: absolute;
		top: 0;
	}
}
