.icon {
	width: 1em;
	height: 1em;
	vertical-align: middle;
	fill: currentColor;
	overflow: hidden;
}
.icon-sm {
	width: 14px;
	height: 14px;
}
.icon-md {
	width: 16px;
	height: 16px;
}
.icon-lg {
	width: 18px;
	height: 18px;
}
