.istio-table {
	.operation-right {
		.next-btn {
			margin-left: 8px;
		}
	}
	.rag-table-box {
		padding: 10px;
		background: $white;
	}
	.next-pagination {
		text-align: right;
		margin-top: 16px;
	}
}
