.zeus-mid-title {
	border-bottom: 1px solid #f0f0f0;
}

.nav-item-select-custom > .next-menu-sub-menu > .next-selected a {
	color: $primary-color !important;
}

.nav-item-select-custom > .next-child-selected i {
	color: $primary-color;
}
.next-nav-item.next-menu-item.next-selected.next-selected {
	background-color: #e6eef5 !important;
	color: $primary-color !important;
}
.next-nav-item.next-menu-item.next-selected.next-selected a {
	color: $primary-color !important;
}
