.basic-info {
	width: 500px;
	padding: 8px 0 16px 0;
}

.schedule-strategy {
	width: 656px;
	padding: 8px 0 16px 0;
	.host-affinity {
		align-items: center;
		.switch {
			width: 120px;
			line-height: $line-height-2 * 2;
		}
		.input {
			width: 260px;
		}
		.check {
			width: 120px;
			line-height: $line-height-2 * 2;
			padding-left: 16px;
		}
	}
}

.foreign-visit {
	padding: 8px 0 16px 0;
	.export-way {
		flex-direction: column;
		flex: 0 0 562px;
		.export-content {
			margin-top: 8px;
			padding: 12px 44px 12px 30px;
			background: #EFEFEF;
		}
	}
}

.select-box {
	.select-box-item {
		width: 182px;
		height: 32px;
		color: $text-color-title;
		font-weight: $font-weight;
		margin-right: 8px;
		border: 1px solid $border-color;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.select-box-item:last-child {
		margin-right: 0;
	}
	.select-box-item.active {
		background: #DEE9F6;
		border: 1px solid #B2D4EF;
	}
}

.mysql-config {
	width: 500px;
	padding: 8px 0 16px 0;
}

.spec-config {
	padding: 8px 0 16px 0;
	.instance-spec-content {
		flex-direction: column;
		.spec-custom {
			width: 562px;
			margin-top: 8px;
    		padding: 12px 44px 0 30px;
			background: #EFEFEF;
		}
	}
	.custom-cluster-number{
		align-items: center;
		.custom-cluster-number-label{
			margin:0 $margin-sm;
		}
	}
}

.summit-box {
	position: fixed;
	z-index: 799;
	bottom: 0;
	width: calc(100% - 256px);
	padding: 16px 16px 16px 0px;
	background: $white;
	border-top: 1px solid $border-color;
}
.log-collection-content{
	display: flex;
	.log-collection {
		padding: 8px 0 8px 0;
		.file-log, .standard-log {
			.switch {
				width: 120px;
				line-height: $line-height-2 * 2;
			}
		}
	}
}
.tags{
	padding: 10px 24px;
	background: #F1F1F2;
	display: flex;
	flex-wrap: wrap;
	.tag{
		font-size: $font-1;
		font-family: PingFangSC-Medium, PingFang SC;
		font-weight: $font-weight;
		color: $text-color-title;
		padding: 6px;
		line-height: $line-height-3;
		margin: 0 6px 6px 0;
		border-radius: 12px;
		border: 1px solid #C0C6CC;
	}
	.tag-close{
		margin-left: 6px;
		color: #666666;
		cursor: pointer;
	}
}
.zeus-zk-service {
	.zeus-zk-address,
	.zeus-zk-path {
		width: 134px;
	}
	.zeus-zk-address,
	.zeus-zk-port{
		margin-right: 8px;
	}
}
