.role-modal {
	width: 223px;
	.next-dialog-body {
		max-height: 200px;
		overflow-y: auto;
		& > p {
			line-height: 32px;
		}
	}
}
.role-management-role-content {
	border: 1px solid #dedede;
	padding: 10px;
}
.role-management-content {
	display: flex;
	.role-management-namespace,
	.role-management-cluster {
		height: 200px;
		width: 243px;
		border: 1px solid #dedede;
		border-right: none;
		.role-management-title {
			height: 32px;
			line-height: 32px;
			padding-left: 8px;
			border-bottom: 1px solid #dedede;
		}
		.role-management-check-content {
			padding: 6px 8px;
			overflow-y: auto;
			max-height: 166px;
			.role-management-label {
				height: 16px;
				line-height: 14px;
			}
			.role-management-checkout-content {
				padding-left: 24px;
				.next-checkbox-wrapper  {
					display: block;
					margin-right: 0;
				}
			}
		}
	}
	.role-management-namespace {
		border-right: 1px solid #dedede;
	}
}
