.personlization{
    .header{
        padding: 0 24px;
        margin-top: 16px;
        display: flex;
        align-items: center;
        .next-icon::before{
            cursor: pointer;
            width: 32px;
            font-size: 32px;
        }
        .sc-fodVek{
            margin: 0;
            padding-left: 16px;
        }
    }

    h2{
        font-size: $font-h2;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: $font-weight;
        color: $text-color-title;
        line-height: 22px;
        margin: 16px 0;
        display: flex;
        align-items: center;
        &::before{
            content: '';
            display: inline-block;
            width: 1px;
            height: 14px;
            border: 1px solid #0064C8;
            margin-right: 5px;
        }
    }

    .upload-info{
        font-size: $font-size;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: $font-weight-sm;
        color: #666666;
        line-height: $line-height-xl;
    }
    .next-form-item{
        align-items: center;
        label{
            font-size: $font-size;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: $font-weight;
            color: $text-color-title;
            line-height: $line-height-xl;
        }
        .next-upload-card {
            &:hover{
                border-color: #0064C8;
            }
            .next-icon{
                color: #0064C8;
                &::before{
                    font-size: $font-size;
                }
            }
            .next-upload-text{
                font-size: $font-size;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: $font-weight-sm;
                color: $text-color-title;
                line-height: $line-height-xl;
            }
        }
        .next-btn{
            width: 100px;
            font-size: $font-size;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: $font-weight;
            color: $text-color-title;
            line-height: $line-height-xl;
            .next-icon{
                color: #0064C8;
                &::before{
                    font-size: $font-size;
                }
            }
        }
    }
}
    .next-upload-list-item-thumbnail{
        img{
            background-color: #ebebeb;
        }
    }

