.platform_overview-content {
	height: 100%;
	width: 100%;
	min-height: 630px;
	.header {
		width: 100%;
		height: 172px;
		.header-btn {
			display: flex;
			justify-content: space-between;
			margin-bottom: 20px;
			.refresh-btn {
				width: 32px;
				height: 32px;
				border-radius: $border-radius;
				border: 1px solid #c0c6cc;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0;
				.icon {
					width: 11px;
					height: 13px;
					background: $text-color-title;
				}
			}
		}
		.header-list {
			display: flex;
			justify-content: space-between;
			.part {
				width: 25%;
				height: 120px;
				margin-right: 16px;
				border-radius: $border-radius-lg * 2;
				display: flex;
				justify-content: center;
				align-items: center;
				&:nth-of-type(1) {
					background: #617bff;
					&.part-detail {
						padding: 0 18% 0 10%;
					}
				}
				&:nth-of-type(2) {
					background: #9661ff;
					&.part-detail {
						padding: 0 18% 0 10%;
					}
				}
				&:nth-of-type(3) {
					background: #00c1d4;
				}
				&:nth-of-type(4) {
					background: #ff9861;
				}
				.part-detail {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 0 10% 0 10%;
					.part-circle {
						width: 60px;
						height: 60px;
						background: $white;
						border-radius: 30px;
						opacity: 0.96;
						display: flex;
						justify-content: center;
						align-items: center;
					}
					.value {
						width: 140px;
						& > span {
							width: 15px;
							height: 20px;
							font-size: $font-2;
							font-family: PingFangSC-Regular, PingFang SC;
							font-weight: $font-weight-sm;
							color: $white;
							line-height: $line-height-4;
						}
						&.percent > span {
							width: 26px;
							height: 20px;
							font-size: $font-1;
							font-family: PingFangSC-Regular, PingFang SC;
							font-weight: $font-weight-sm;
							color: $white;
							line-height: $line-height-4;
						}
						.ant-progress-inner {
							width: 140px;
							height: 12px;
							border-radius: $border-radius-xl;
							background: rgba(255, 255, 255, 0.4);
						}
						.ant-progress-bg {
							height: 12px !important;
							background: $white;
						}
						.num {
							width: 54px;
							height: 56px;
							font-size: 48px;
							font-family: HelveticaNeue;
							color: $white;
							line-height: 57px;
						}
					}
				}
				.type {
					height: 20px;
					font-size: $font-2;
					font-family: PingFangSC-Regular, PingFang SC;
					font-weight: $font-weight-sm;
					color: $white;
					line-height: $line-height-4;
				}
			}
		}
	}
	.content {
		margin-top: 16px;
		.top-content {
			margin-bottom: 16px;
			height: 172px;
			.serve-info {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				overflow: auto;
				box-sizing: border-box;
				padding-top: 20px;
				.info-item {
					min-width: 150px;
					padding-bottom: 12px;
					text-align: center;
					flex: 1;
					position: relative;
					cursor: pointer;
					&:not(:last-of-type)::after {
						position: absolute;
						top: 0;
						right: 0;
						display: block;
						content: '';
						width: 1px;
						height: 46px;
						background-color: #e3e4e6;
					}
					.info-img {
						width: 40px;
						height: 40px;
						position: relative;
						margin: 0 auto;
						.err-count {
							position: absolute;
							top: -9px;
							right: -9px;
							width: 18px;
							height: 18px;
							line-height: 14px;
							font-size: $font-1;
							font-family: PingFangSC-Medium, PingFang SC;
							font-weight: $font-weight;
							color: $white;
							text-align: center;
							background: #c80000;
							border-radius: 50%;
							border: 2px solid $white;
						}
					}
					.info-name {
						height: 18px;
						font-size: $font-1;
						font-family: PingFangSC-Regular, PingFang SC;
						font-weight: $font-weight-sm;
						color: #1a1a1a;
						line-height: $line-height-3;
					}
					.info-count {
						font-size: $font-1;
						font-family: PingFangSC-Regular, PingFang SC;
						font-weight: $font-weight-sm;
						color: $text-color-title;
						line-height: $line-height-3;
						margin-top: 20px;
					}
				}
			}
		}
		.center-content {
			display: flex;
			.left-content {
				height: 100%;
				width: 75%;
				margin-right: 16px;
				.control-container {
					height: calc(100% - 32px);
					margin-top: 10px;
					display: flex;
					justify-content: space-between;
					.next-table td .next-table-cell-wrapper {
						overflow: hidden !important;
					}
					.dashed {
						border-right: 1px dashed #ccd0d4;
						width: 1px;
						height: 100%;
					}
				}
			}
			.right-content {
				height: 100%;
				width: 25%;
				.system-info {
					text-align: center;
					.version {
						height: 28px;
						font-size: 20px;
						font-family: PingFangSC-Medium, PingFang SC;
						font-weight: $font-weight;
						color: $primary-color;
						line-height: 28px;
						margin: 20px auto 10px;
					}
				}
				.next-pagination-total {
					font-size: $font-1;
				}
			}
		}
	}
}
.instance-table-content {
	margin-top: 16px;
}
