.system-alarm {
    .tab-menu {
        padding: 0 24px 15px;
        .next-menu.dQENxL {
            margin: 0;
        }
    }
    .alarm-set {
        .box {
            background: #ffffff;
            box-shadow: 0px 2px 4px 0px rgba(68, 71, 74, 0.07);
            border-radius: 4px;
            border: 1px solid #ebebeb;
            padding: 24px;
            .box-header {
                display: flex;
                .header-img {
                    width: 112px;
                    height: 112px;
                    background: #f7f8fc;
                    border-radius: 4px;
                    line-height: 112px;
                    text-align: center;
                }
                .header-info {
                    margin-left: 24px;
                    .type {
                        font-size: 16px;
                        font-family: PingFangSC-Medium, PingFang SC;
                        font-weight: 500;
                        color: #333333;
                        line-height: 24px;
                        vertical-align: middle;
                        margin-right: 8px;
                    }
                    .status {
                        display: inline-block;
                        width: 60px;
                        height: 20px;
                        background: #f6ffed;
                        border: 1px solid #b7eb8f;
                        text-align: center;
                        font-size: 12px;
                        font-family: PingFangSC-Regular, PingFang SC;
                        font-weight: 400;
                        color: #52c41a;
                        line-height: 18px;
                        padding-right: 10px;
                        position: relative;
                        border-right: none;
                        &::before {
                            display: inline-block;
                            content: "";
                            position: absolute;
                            top: 0;
                            right: 0;
                            z-index: 10;
                            border-right: 9px solid #52c41a;
                            border-top: 9px solid transparent;
                            border-left: 9px solid transparent;
                            border-bottom: 9px solid transparent;
                        }
                        &::after {
                            display: inline-block;
                            content: "";
                            position: absolute;
                            top: 1px;
                            right: 0;
                            z-index: 10;
                            border-right: 8px solid #fff;
                            border-top: 8px solid transparent;
                            border-left: 8px solid transparent;
                            border-bottom: 8px solid transparent;
                        }
                        &.none {
                            border-color: #ffdb94;
                            color: #faa700;
                            &::before {
                                border-right-color: #ffdb94;
                            }
                        }
                    }
                    p {
                        margin-top: 16px;
                        font-size: 12px;
                        font-family: PingFangSC-Regular, PingFang SC;
                        font-weight: 400;
                        color: #666666;
                        line-height: 18px;
                    }
                }
            }
            .box-content {
                margin-top: 16px;
                background: #f7f7f7;
                border-radius: 2px;
                .next-form {
                    label {
                        font-size: 12px;
                        font-family: PingFangSC-Medium, PingFang SC;
                        font-weight: 500;
                        color: #333333;
                        line-height: 18px;
                    }
                }
                .btns {
                    text-align: right;
                    button {
                        &:not(:last-child) {
                            margin-right: 8px;
                        }
                        &.test[disabled] {
                            color: #ccc;
                        }
                        &.save[disabled] {
                            background: #d1d5d9;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
