.middleware-layout {
	padding-top: 50px;
	overflow: hidden;
}

#components-layout-demo-side .logo {
	height: 32px;
	margin: 16px;
	background: rgba(255, 255, 255, 0.3);
  }

.site-layout .site-layout-background {
	background: #fff;
}
.site-layout {
	margin-left: 200px;
}
.site-layout-background {
	max-height: 100%;
	overflow-y: hidden;
}
